vifm/.config/vifm/vifminfo
vifm/.config/vifm/colors
vifm/.config/vifm/scripts
vim/.vim/autoload/
vim/.vim/plugged/
nvim/.config/nvim/plugin
*.spl
*.sug
julia/.julia/environments/nvim-lspconfig/Manifest.toml
julia/.julia/environments/nvim-lspconfig/Project.toml
julia/.julia/environments/nvim-lspconfig/bin/
julia/.julia/environments/nvim-lspconfig/languageserver.so
julia/.julia/environments/nvim-lspconfig/packagecompiler/
nvim/.config/nvim/lazy-lock.json
