! Excellent source of info about Xresources:
! http://www.futurile.net/2016/06/14/xterm-setup-and-truetype-font-configuration/

xterm*termName: xterm-256color
!xterm*termName: xterm

! Start xterm in fullscreen mode
XTerm*fullscreen      : true

! Use a nice truetype font and size by default... 
! To see available true type, mono-spaced fonts run in shell:
! fc-list :scalable=true:spacing=mono: family 
!xterm*faceName: Ubuntu Mono
!xterm*faceSize: 12
!xterm*faceName: UbuntuMono Nerd Font Mono
!xterm*faceSize: 12
xterm*faceName: Hack Nerd Font
xterm*faceSize: 10

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 16384

! Send the right keysym when using the Alt key
XTerm.vt100.metaSendsEscape: true

! Stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

! Turn on visual bell to diable the audio bell
xterm*visualBell: on

! Intercept and send a unique code for ctrl-tab and ctrl-shift-tab
! Based on: https://stackoverflow.com/a/31961401/1706778 
! Hack: the code for the Ctrl+Shift+w actually corresponds to a 0
! Hack: the code for the Ctrl+Shift+s actually corresponds to a 1
! Hack: the code for the Ctrl+Shift+v actually corresponds to a .
!   See: https://github.com/tmux/tmux/blob/master/xterm-keys.c
! Increase/decrease font size
!   http://www.futurile.net/2016/06/14/xterm-setup-and-truetype-font-configuration/
xterm*VT100.Translations: #override \
    Ctrl ~Shift <Key>Tab: string(0x1b) string("[27;5;9~") \n\
    Ctrl Shift <Key>Tab: string(0x1b) string("[27;6;9~") \n\
    Ctrl Shift <Key>w: string(0x1b) string("[27;6;48~") \n\
    Ctrl Shift <Key>s: string(0x1b) string("[27;6;49~") \n\
    Ctrl Shift <Key>v: string(0x1b) string("[27;6;46~") \n\
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d)


!####################
!###### Themes ######
!####################

!-------- Theme: Solarized Dark {{{
!------------------------------------------------------
! source: https://github.com/solarized/xresources/blob/master/Xresources.dark

#if defined(USE_SOLARIZED_DARK) 

xterm*background:            #002b36
xterm*foreground:            #839496
xterm*cursorColor:           #93a1a1
! black dark/light
xterm*color0:                #073642
xterm*color8:                #002b36
! red dark/light
xterm*color1:                #dc322f
xterm*color9:                #cb4b16
! green dark/light
xterm*color2:                #859900
xterm*color10:               #586e75
! yellow dark/light
xterm*color3:                #b58900
xterm*color11:               #657b83
! blue dark/light
xterm*color4:                #268bd2
xterm*color12:               #839496
! magenta dark/light
xterm*color5:                #d33682
xterm*color13:               #6c71c4
! cyan dark/light
xterm*color6:                #2aa198
xterm*color14:               #93a1a1
! white dark/light
xterm*color7:                #eee8d5
xterm*color15:               #fdf6e3

#elif defined(USE_SOLARIZED_LIGHT)

!!-------- Theme: Solarized Light {{{
!------------------------------------------------------
!source: https://github.com/solarized/xresources/blob/master/Xresources.light

xterm*background:            #fdf6e3
xterm*foreground:            #657b83
xterm*cursorColor:           #586e75
! black dark/light
xterm*color0:                #073642
xterm*color8:                #002b36
!! red dark/light
xterm*color1:                #dc322f
xterm*color9:                #cb4b16
!! green dark/light
xterm*color2:                #859900
xterm*color10:               #586e75
!! yellow dark/light
xterm*color3:                #b58900
xterm*color11:               #657b83
!! blue dark/light
xterm*color4:                #268bd2
xterm*color12:               #839496
!! magenta dark/light
xterm*color5:                #d33682
xterm*color13:               #6c71c4
!! cyan dark/light
xterm*color6:                #2aa198
xterm*color14:               #93a1a1
!! white dark/light
xterm*color7:                #eee8d5
xterm*color15:               #fdf6e3


#elif defined(USE_GRUVBOX_DARK)

!!-------- Theme: Gruvbox Dark {{{
!------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------

! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

#else

!-------- Theme: Monokai {{{
!------------------------------------------------------
! source: https://github.com/cemmanouilidis/monokai-xterm/blob/master/xtermcontrol

xterm*background:   #1D1D19
xterm*foreground:   #F6F5EE
xterm*color0:       #1C1D19
xterm*color1:       #D01B24
xterm*color2:       #A7D32C
xterm*color3:       #D8CF67
xterm*color4:       #61B8D0
xterm*color5:       #695ABB
xterm*color6:       #D53864
xterm*color7:       #FEFFFE
xterm*color8:       #1C1D19
xterm*color9:       #D12A24
xterm*color10:      #A7D32C
xterm*color11:      #D8CF67
xterm*color12:      #61B8D0
xterm*color13:      #695ABB
xterm*color14:      #D53864
xterm*color15:      #FEFFFE
xterm*cursorColor:  #D6D6D6

#endif
