#!/bin/bash

# Map caps lock key to control
setxkbmap -option caps:ctrl_modifier

# Set my default layout
setxkbmap -layout us -variant altgr-intl

# Increase keyboard repeat rate
# https://www.reddit.com/r/i3wm/comments/1yiu36/increase_keyboard_repeat_rate/
xset r rate 270 60

# Set a wallpaper
# feh --bg-scale ~/dotfiles/wallpapers/shifaaz-shamoon-unsplash-1.jpg &
feh --bg-scale --randomize ~/dotfiles/wallpapers/* &

## Run my dwm bar script
#dwmiconbar &
dwmblocks &

# Launch dropbox
dropbox &

# Launch dunst (https://dunst-project.org/)
# Used to fix Teams notification bug (see https://bit.ly/3MezkXY)
dunst &

# # Launch compositor (used for blur and fading effects)
picom &

# Start xbindkeys 
# https://www.reddit.com/r/linuxquestions/comments/b22z31/comment/eiq44cm/?utm_source=share&utm_medium=web2x&context=3
xbindkeys &

# # https://askubuntu.com/a/1070660
# # Currently being run in .xinitrc
# xscreensaver -no-splash &

# Start ibus
# https://wiki.archlinux.org/title/IBus
# It supports Unicode input by typing Ctrl+Shift+u followed by the Unicode
ibus-daemon -drxR
